*{
    margin: 0;
}
ul{
    background: skyblue;
}
li{
list-style: none;
display: inline-block;
margin-left:10px;
padding: 19px; 
}
li a{
text-decoration: none;
font-size: 20px;
color: black;
}
.navbar{
}
body{
    margin: 0;
}
.container{
background:skyblue;
margin: 0;
padding: 0;
}
li:hover{

background:rgb(206, 217, 221);
border-radius: 5px;
}
#login{
    margin-top: 2px;
float: right;
padding: 16px;
font-size: 20px;
position: fixed;
right: 0px;
border: 2px solid black;
border-radius: 8px;
background: rgb(227, 232, 235 ,0.65);

}
.searchbtn{
    margin-top:-25px;
    float: right;
    padding: 17px;
    font-size: 20px;
    position: fixed;
    right: 80px;
    background: rgb(227, 232, 235);
    border: 0;
    border-radius: 8px;
    margin-right: 60px;
}
#srchbtn{
    border: 2px solid black;
    background: rgb(227, 232, 235 ,0.65);

}